<style>
ul li button {
    cursor: pointer;
    border: none;
    background: none;
    color: red;
    outline: none;
    font-size: 17px;
}
#audioPlayer {
    width: 80%;
}
</style>
<h1>Music Library</h1>
<audio id="audioPlayer" controls>
    <source id="audioSource" src="" type="audio/mpeg">
    Your browser does not support the audio element.
</audio>
<br>
<button onclick="prevSong()">Previous</button>
<button onclick="nextSong()">Next</button>

<ul>
    {% for musicFile in site.data.music-files %}
    {% assign musicFileIndex = {{forloop.index}} %}
    <li>{{musicFileIndex}} <button onclick="loadSongAndPlay({{musicFileIndex}})">{{ musicFile.title }} - {{musicFile.artist}}</button></li>
    {% endfor %}
</ul>

<script>
    const songs = [];
    const musicFiles = '{{site.data.music-files | jsonify}}';
    const musicFilesObj = JSON.parse(musicFiles);
    for(var index in musicFilesObj) { 
        let fileUrl = '../../assets/music-lib/' + musicFilesObj[index].file_name; 
        songs.push(fileUrl);
    }

    let currentSongIndex = 0;
    const audioPlayer = document.getElementById('audioPlayer');
    const audioSource = document.getElementById('audioSource');

    function loadSong(index) {
        audioSource.src = songs[index];
        audioPlayer.load();
    }

    function loadSongAndPlay(index) {
        loadSong(index - 1);
        audioPlayer.play();
    }

    function prevSong() {
        currentSongIndex = (currentSongIndex - 1 + songs.length) % songs.length;
        loadSong(currentSongIndex);
        audioPlayer.play();
    }

    function nextSong() {
        currentSongIndex = (currentSongIndex + 1) % songs.length;
        loadSong(currentSongIndex);
        audioPlayer.play();
    }

    // 自动播放下一首歌
    audioPlayer.addEventListener('ended', nextSong);

    // 初始化加载第一首歌
    loadSong(currentSongIndex);
</script>
