// Custom styles.
@media (min-width: 1600px) { body { font-size: 14px; } }

pre, .highlight { overflow: auto; margin: 20px 0; padding: 5px 2px; font-size: 12px; color: #7a7272; background: #f7f7f7; line-height: 1.6; }